<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.momo.springbootdemo.mapper.UserMapper">
    <!-- 根据id获取用户信息 -->
    <select id="getUserById" parameterType="int" 
    resultType="com.momo.springbootdemo.bean.User">
          select * from user where id = #{id}     
    </select>
    
    <!-- 添加用户 -->
    <insert id="addUser" parameterType="com.momo.springbootdemo.bean.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
          select LAST_INSERT_ID()
    </selectKey>
          insert into user(name,pass) values(#{name},#{pass})
    </insert>
    
    <select id="getUser" resultType="com.momo.springbootdemo.bean.User">
          select * from user where name = #{name} and pass = #{pass}
    </select>

</mapper>